<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Eventos</title>
</head>
<body>
	<h1>Adicionar Evento</h1>

	<form action="">

		<div>

			<label>Nome:</label> <input typer="text" name="nome">

		</div>
<div>

			<label>local:</label> <input typer="text" name="local">

		</div>
		<div>

			<label>data:</label> <input typer="text" name="data">

		</div>
		<div>

			<label>horario:</label> <input typer="text" name="horario">

		</div>
<div>

<button typer="submit">salvar</button>
<button typer="reset">limpar </button>
		</div>










	</form>
</body>
</html>